<div class="row">
    <h1>Hard & Soft Skills</h1>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
         [percent] = "85"
         [radius] = "100"
         [title]="'HTML'"
         [titleColor]="'black'"
         [titleFontSize]="'2em'"
         [animation] = "true"
         [animationDuration] = "600"
         [lazy]="true"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'black'"
         [innerStrokeColor]="'grey'"
         [showUnits]="false"
         [showSubtitle]="false">  
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
         [percent] = "85"
         [radius] = "100"
         [title]="'CSS'"
         [titleColor]="'black'"
         [titleFontSize]="'2em'"
         [animation] = "true"
         [animationDuration] = "600"
         [lazy]="true"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'black'"
         [innerStrokeColor]="'grey'"
         [showUnits]="false"
         [showSubtitle]="false">  
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
         [percent] = "85"
         [radius] = "100"
         [title]="'JS'"
         [titleColor]="'black'"
         [titleFontSize]="'2em'"
         [animation] = "true"
         [animationDuration] = "600"
         [lazy]="true"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'black'"
         [innerStrokeColor]="'grey'"
         [showUnits]="false"
         [showSubtitle]="false">  
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
         [percent] = "85"
         [radius] = "100"
         [title]="'MYSQL'"
         [titleColor]="'black'"
         [titleFontSize]="'2em'"
         [animation] = "true"
         [animationDuration] = "600"
         [lazy]="true"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'black'"
         [innerStrokeColor]="'grey'"
         [showUnits]="false"
         [showSubtitle]="false">  
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
         [percent] = "85"
         [radius] = "100"
         [title]="'INGLES'"
         [titleColor]="'black'"
         [titleFontSize]="'2em'"
         [animation] = "true"
         [animationDuration] = "600"
         [lazy]="true"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'black'"
         [innerStrokeColor]="'grey'"
         [showUnits]="false"
         [showSubtitle]="false">  
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
         [percent] = "85"
         [radius] = "100"
         [title]="'TRABAJO GRUPAL'"
         [titleColor]="'black'"
         [titleFontSize]="'1em'"
         [animation] = "true"
         [animationDuration] = "600"
         [lazy]="true"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'black'"
         [innerStrokeColor]="'grey'"
         [showUnits]="false"
         [showSubtitle]="false">  
         </circle-progress>
    </div>

</div>
